body{ background-color:#fff; color:#888; font:12px/1.5em Arial,Helvetica,sans-serif; margin:0; padding:0; }

img { border:none; }

#root {	
height:auto; 
}

#mainHeader{
	width:1332px;
	height:100px;
	background-color:#999999;
	
}

.center {
   margin-left: auto;
   margin-right: auto;
}


/*=== Top Header ===*/

#topheaderWrapperDiv { background:#fff url("../images/top_header.jpg") no-repeat top left; }

#topheaderDiv { padding-top:0px; padding-left:0px; }

/*=== Header Image ===*/
#header{} 

#menuWrapper { float:left; padding-left:0px; margin-top:11px; margin-left:100px; }

#homeBG { 
	width:1333px;
	height:690px;
	margin-left: auto;
	margin-right: auto;
	background:#fff url("../images/home_header.jpg") no-repeat top center;
}

#contactForm { 
	width:437px;
	height:325px;
	background:#fff url("../images/contactFormBG.jpg") no-repeat top left;
}

.cForm { width:100px; text-align:right; vertical-align:top; padding-top:8px; padding-right:10px;}

#mailTextBox { width:200px }

#aboutBG { 
	height:514px;
	padding:0px;
	margin-top:-5px;
	/*background:#fff url("../images/aboutBG.jpg") no-repeat top center;*/
}

#blogBG {
	padding:0px;
	margin-top:-5px;
	height:600px;
}

#galleryBG { 
	/*height:1115px;*/
	width:1332px;
	padding:0px;
	margin-top:0px;
	background:#fff;
	margin-left: auto;
  	margin-right: auto;
}

.bodyText {
	color:#5e5763;
	text-align:left;
}

div.bodyText cufon {
    padding-bottom: 5px;
}

/*=== Footer ===*/
#bottomDiv { height:80px; width:1332px; background-color:#fff; text-align:center; margin-left: auto; margin-right: auto;}

/*=== Body Layer Wrapper ===*/
#bodyWrapper { }

/*=== Body Content Area  ===*/
#bodyContent { margin:0; padding:0px 0 0 0; }



#footer {
	color:#000;
	padding:0px;
	margin-left: auto;
  	margin-right: auto;
}

#copywrite {
	text-align:center;
	color:#000;
	margin-left: auto;
  	margin-right: auto;
}

/*- Mailing List Form -**************************************************************/

#submitButton {
	width:97px;
	height:29px;
	margin: 0;
	border: 0;	
	/* background:transparent  url("../images/submitButton.png") no-repeat; */
	background-color:#666666;
	color:#FFFFFF;
	font-size:14px;
	text-align:center;
	line-height:27px;
	overflow: hidden;
	cursor: pointer; /* hand-shaped cursor */
  	cursor: hand; /* for IE 5.x */	
	
}
#topSocialBox {
	float:right; 
	height:65px; 
	width:80px;
	margin-right:5px;
	background-color:#0F0;
	background:transparent; 
	
	cursor: pointer; /* hand-shaped cursor */
  	cursor: hand; /* for IE 5.x */	
	 	
}

#gallery {
	position: relative;
	/*
	margin: 0px auto;
	padding: 0px;
	width:auto;
	*/
	height: 600px;
	
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	float:none;
	/*border: 1px solid #ff00ff;*/
	clear: all;
}

#blogFrame {
	
	width:100%;
	
}